# dependencies
node_modules/

# build output
dist/
build/
.output/
.vinxi/
.nitro/

# env / secrets
.env
.env.*
!.env.example

# os / editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*

# test coverage
coverage/

# deploy
.vercel/
